In [1]:
import pandas as pd
import numpy as np
from itertools import chain

In [2]:
s = pd.read_csv('data/data.csv')

In [18]:
unique_channels = {ch for ch in chain.from_iterable(s['path'].str.split('>').apply(lambda _: [w.strip() for w in _]))}

In [24]:
s.head()

,path,total_conversions,total_conversion_value,total_null
0,eta > iota > alpha > eta,1,0.244,3
1,iota > iota > iota > iota,2,3.195,6
2,alpha > iota > alpha > alpha > alpha > iota > ...,2,6.754,6
3,beta > eta,1,2.402,3
4,iota > eta > theta > lambda > lambda > theta >...,0,0.000,2

In [22]:
s.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 4 columns):
path                      10000 non-null object
total_conversions         10000 non-null int64
total_conversion_value    10000 non-null float64
total_null                10000 non-null int64
dtypes: float64(1), int64(2), object(1)
memory usage: 312.6+ KB